body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
    font-size: 25px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'left right'
        'footer footer';
}

.left {
    grid-area: left;
    width: 13vw;
    height: 100vh;
    border: 5px solid grey;
    font-family: 'Roboto', sans-serif;
}

.toc {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif'
}

.right {
    grid-area: right;
    width: 87vw;
    height: 100vh;
    border: 5px solid grey;
}